.centerHeader
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-between
  // padding: 0 20px
  padding-bottom: 20px
  border-bottom: var(--breakline)

  form
    display: flex
    align-items: center

  &__title
    font-size: 32px
    font-weight: 500
    margin-left: 9px
    margin-bottom: 1px

  &__input
    all: unset
    font-size: 32px
    font-weight: 500
    border: none
    background: none
    border-top-left-radius: 6px
    border-top-right-radius: 6px
    display: inline
    padding-left: 5px
    margin-left: 4px
    width: 250px
    cursor: pointer
    border-bottom: 1px solid var(--primaryAccent)
    color: var(--primaryGray)
    &:focus
      background: var(--primaryVeryLightBlue)
      outline: none

  &__controls
    margin-left: 10px
    display: flex
    align-items: center
    justify-content: center
    gap: 10px
  
  &__button
    display: flex
    align-items: center
    justify-content: center
    border: none
    background: none
    cursor: pointer
    transition: background .15s
    border-radius: 50%
    padding: 4px
    background:  var(--itemHoverBg)
    color: var(--textColor)
    border: 1px solid var(--transparent)
    transition: background 0.15s, border 0.15s
    &:hover
      background: var(--acceptBlueHoverBg)
      border: 1px solid var(--acceptBlueHoverBorder)
          
    &--clear:hover
      background: var(--cancelRedHoverBg)
      border: 1px solid var(--cancelRedHoverBorder)



.controls__icon
  display: flex
  justify-content: center
  align-items: center
  width: 30px
  height: 30px
  cursor: pointer
  border-radius: 50%
  transition: background .15s
  &:hover
    background: var(--iconHovBg)
  