.RightPanel
  position: fixed
  top: 0
  right: 0
  bottom: 0
  width: 300px
  padding: 40px 10px 10px 10px
  background: #F0F2F5
  overflow-y: scroll
  // Scrollbar styling 
  &::-webkit-scrollbar
    width: 5px
  &::-webkit-scrollbar-thumb
    background: rgba(206, 208, 212, 0.5)
    border-radius: 2px
  &:hover
    &::-webkit-scrollbar-thumb
      background: rgba(206, 208, 212, 1)
